.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  position: relative;
}
.section2 {
  height: 100vh!important;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.section2images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  @media screen and (max-width: 1440px){
    width: 1200px;
  }
  @media screen and (max-width: 1024px){
    width: 900px;
  }
  @media screen and (max-width: 480px){
    max-width: 400px;
  }
}
.planetContainer {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 0;
}
.lowCloud {
  position: fixed;
  bottom: -100px;
  left: 0px;
  z-index: 0;
  transform: rotateY(180deg);
}
.upCloud {
  position: fixed;
  top: 0;
  left: 500px;
  z-index: 0;
}

.header {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 160px;
  z-index: 1;
}
.titleWrapper {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin-bottom: 80px;
  z-index: 1;
  @media screen and (max-width: 480px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.title {
  max-width: 100%;
  font-family: Clash Grotesk;
  font-size: 128px;
  font-weight: 500;
  text-align: left;
  background-image: linear-gradient(106.2deg, #963488 -12.33%, #FC6F32 50.28%, #FF4A59 114.17%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 1;
  @media screen and (max-width: 1440px) {
    font-size: 100px;
}
}

.subtitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  z-index: 1;
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.btn {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 40px;
  padding: 14px 32px 16px 32px;
  cursor: pointer;
  z-index: 1;
}
.btnNoBorder {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  padding: 14px 24px 16px 24px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border: solid 2px transparent;
  z-index: 1;
  &:hover {
    background-color: rgba(87, 168, 255, 1);
    border: solid 2px dodgerblue;
  }
}
.btnLg {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 40px;
  padding: 22px 48px 24px 48px;
  cursor: pointer;
  z-index: 1;
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
.btnNoBorderLg {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  padding: 22px 32px 24px 32px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border: solid 2px transparent;
  z-index: 1;
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
  &:hover {
    background-color: rgba(87, 168, 255, 1);
    border: solid 2px dodgerblue;
  }
}
.bordered {
  border-radius: 40px;
  background-image: linear-gradient(106.2deg, #963488 -12.33%, #FC6F32 50.28%, #FF4A59 114.17%);
  padding: 2px;
  transition: background-image 0.3s ease;
  z-index: 1;
  &:hover {
    background-image: linear-gradient(106.2deg, #FF4A59 -12.33%, #FC6F32 50.28%, #963488 114.17%);
  }
}
.buttonBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.badgeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 1;
  @media screen and (max-width: 1024px) {
    gap: 18px;
  }
  @media screen and (max-width: 480px) {
    gap: 4px;
    margin: 0 15px;
  }
}
.badgeBody {
  width: 450px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 90px;
  background-image: linear-gradient(105.65deg, rgba(150, 52, 136, 0.2) 0.15%, rgba(252, 111, 50, 0.2) 130.58%, rgba(255, 74, 89, 0.2) 263.64%);
  @media screen and (max-width: 1024px) {
    width: 300px;
    height: 100px;
    gap: 10px;
    border-radius: 70px;
  }
  @media screen and (max-width: 480px) {
    width: 200px;
    height: 70px;
    gap: 4px;
    border-radius: 40px;
  }
}
.badgeTitle {
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  @media screen and (max-width: 1024px) {
    font-size: 30px;
  }
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
.badgeSubtitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}

.section2Title {
  font-family: Clash Grotesk;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}